<form class="on-add" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <h1>Edit Movie</h1>
    <div class="form-control">
        <mat-form-field appearance="fill" [style.width.px]=350>
            <mat-label>Movie Title</mat-label>
            <input matInput type="text" name="name" [ngModel]="movie.name" id="name" placeholder="Ex. Goodfellas">
        </mat-form-field>
    </div>
    <div class="form-control">
        <mat-form-field appearance="fill" [style.width.px]=350>
            <mat-label>Movie Duration</mat-label>
            <input matInput type="text" name="duration" [ngModel]="movie.duration" id="duration" placeholder="Ex. 120">
        </mat-form-field>
    </div>
    <input type="submit" value="Save Movie" class="btn btn-block"/>
</form>