<form class="on-add"(ngSubmit)="onSubmit()">
    <h1>Add Screen</h1>
    <div class="form-control">
        <mat-form-field appearance="fill" [style.width.px]=350>
            <mat-label>Movie</mat-label>
            <mat-select [(ngModel)]="selectedMovie" name="selectedMovie">
              <mat-option *ngFor="let movie of data.movies" [value]="movie.name">
                {{movie.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="form-control">
        <mat-form-field [style.width.px]=350>
            <input matInput [(ngModel)]="selectedDate" name="selectedDate" 
            type="datetime-local" placeholder="Date">
          </mat-form-field>
    </div>
    <div class="form-control">
          <mat-form-field appearance="fill" [style.width.px]=350>
            <mat-label>Room</mat-label>
            <mat-select [(ngModel)]="selectedRoom" name="selectedRoom">
              <mat-option *ngFor="let room of data.rooms" [value]="room">
                {{room.id}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <input type="submit" value="Save Screen" class="btn btn-block"/>
</form>